
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPlast</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/Raport.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/MDB/css/mdb.min.css">
    <!-- MDB datatable  CSS-->
    <link href="~/MDB/css/addons/datatables.min.css" rel="stylesheet" />
    <!---->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <nav class="navbar  sticky-top" style="font-size: 1.1em; background-color:#3c5438">
        <div class="container">
            <div class="navbar-header">
                <a asp-action="Index" asp-controller="Home" class="nav-link text-light">Пластова база</a>
            </div>
            <div class="navbar">
                <ul class="nav justify-content-start">
                    <li class="nav-item"><a asp-action="Index" id="menu_admin" asp-controller="Account" class="nav-link text-light">Профіль</a></li>
                    <li class="nav-item"><a asp-action="LoginAndRegister" id="menu_admin" asp-controller="Account" class="nav-link text-light">Увійти/Зареєструватись</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        
            @RenderBody()
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EPlast - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/jquery-ui.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/MDB/js/popper.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/MDB/js/mdb.min.js"></script>
    <!-- MDB datatable JavaScript -->
    <script type="text/javascript" src="~/MDB/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>