@using Microsoft.AspNetCore.Identity
@inject SignInManager<EPlast.DataAccess.Entities.User> SignInManager
@inject UserManager<EPlast.DataAccess.Entities.User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPlast</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/mdbootstrap/css/mdb.min.css" />
        <link href="~/lib/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet" />
        <link href="~/lib/mdbootstrap/css/style.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/bundles/css/bundle.css" rel="stylesheet" />
    </environment>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    @if (!SignInManager.IsSignedIn(User))
    {
        <main class="main-wrapper">
            <nav class="navbar navbar-light justify-content-between plast-header">
                <div class="container-header">
                    <div class="navbar-header">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Plast_National_Scout_Organization.svg/803px-Plast_National_Scout_Organization.svg.png" class="plast-logo" alt="logo">

                        <a class="navbar-brand page-header-title" href="#">ePlast</a>
                    </div>

                    <div class="nav-content">
                        <ul class="navbar-nav form-inline align-self-center d-flex flex-row align-items-center">
                            <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">search</i></a></li>
                            <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">notification_important</i></a></li>
                            <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">settings</i></a></li>
                        </ul>

                        <div class="profile">
                            <img src="https://www.plastnewark.org/wp-content/uploads/2018/04/IMG_2856.jpg" class="plast-avatar rounded-circle white-border" alt="Cinque Terre">

                            <p class="header-name" style="margin: 0px; margin-left: 5px;">Наталя Іванюк</p>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="main-block">
                <div class="sidebar">
                    <div class="back-pic">
                        <div class="back-pic-inner">
                            <img src="https://www.plastnewark.org/wp-content/uploads/2018/04/IMG_2856.jpg" class="plast-avatar rounded-circle" alt="Cinque Terre">
                        </div>
                    </div>

                    <ul class="sidebar-ul">
                        <li class="sidebar-li"><a><div class="sidebar-logo profile-icon" onclick='onMenuHover(0)'></div></a></li>
                        <li class="sidebar-li"><a><div class="sidebar-logo decision-icon" onclick='onMenuHover(1)'></div></a></li>
                        <li class="sidebar-li"><a><div class="sidebar-logo dictionary-icon" onclick='onMenuHover(2)'></div></a></li>
                        <li class="sidebar-li"><a><div class="sidebar-logo admin-icon" onclick='onMenuHover(3)'></div></a></li>
                        <li class="sidebar-li"><a><div class="sidebar-logo cabinet-icon" onclick='onMenuHover(4)'></div></a></li>
                    </ul>
                </div>

                <div class="content">
                    <div class="backdrop" onclick="closeMenu()" style="visibility:hidden;">
                        <div class="slider" onclick="event.stopPropagation()">
                            <div class="menu-button-holder">
                                <button class="menu-button">Користувачі</button>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrapper">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    }
    else
    {
        @RenderBody()
    }

    <environment include="Development">

        <script src="~/lib/mdbootstrap/js/jquery.min.js"></script>
        <script src="~/lib/mdbootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
        <script src="~/lib/mdbootstrap/js/addons/datatables.min.js"></script>
        <script src="~/lib/mdbootstrap/js/popper.min.js"></script>
        <script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>
        <script src="~/bundles/js/bundle-min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>