
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPlast</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/Raport.css" rel="stylesheet" />
    <!-- For organization pages -->
    <link href="~/css/organization.css" rel="stylesheet" />
    <script src="~/js/menuFunctions.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/MDB/css/mdb.min.css">
    <!-- MDB datatable  CSS-->
    <link href="~/MDB/css/addons/datatables.min.css" rel="stylesheet" />
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!---->
    <link rel="stylesheet" href="~/css/site.css" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/jquery-ui.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/MDB/js/popper.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/MDB/js/mdb.min.js"></script>
    <!-- MDB datatable JavaScript -->
    <script type="text/javascript" src="~/MDB/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<body onload="init()">
    <main class="main-wrapper">
        <nav class="navbar navbar-light justify-content-between plast-header">
            <div class="container-header">
                <div class="navbar-header">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Plast_National_Scout_Organization.svg/803px-Plast_National_Scout_Organization.svg.png" class="plast-logo" alt="logo">

                    <a class="navbar-brand page-header-title" href="#">ePlast</a>
                </div>

                <div class="nav-content">
                    <ul class="navbar-nav form-inline align-self-center d-flex flex-row align-items-center">
                        <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">search</i></a></li>
                        <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">notification_important</i></a></li>
                        <li><a href="#"><i class="material-icons nav-logo" style="margin: 5px;">settings</i></a></li>
                    </ul>

                    <div class="profile">
                        <img src="https://www.plastnewark.org/wp-content/uploads/2018/04/IMG_2856.jpg" class="plast-avatar rounded-circle white-border" alt="Cinque Terre">

                        <p class="header-name" style="margin: 0px; margin-left: 5px;">Наталя Іванюк</p>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-block">
            <div class="sidebar">
                <div class="back-pic">
                    <div class="back-pic-inner">
                        <img src="https://www.plastnewark.org/wp-content/uploads/2018/04/IMG_2856.jpg" class="plast-avatar rounded-circle" alt="Cinque Terre">
                    </div>
                </div>

                <ul class="sidebar-ul">
                    <li class="sidebar-li"><a><div class="sidebar-logo profile-icon" onclick='onMenuHover(0)'></div></a></li>
                    <li class="sidebar-li"><a><div class="sidebar-logo decision-icon" onclick='onMenuHover(1)'></div></a></li>
                    <li class="sidebar-li"><a><div class="sidebar-logo dictionary-icon" onclick='onMenuHover(2)'></div></a></li>
                    <li class="sidebar-li"><a><div class="sidebar-logo admin-icon" onclick='onMenuHover(3)'></div></a></li>
                    <li class="sidebar-li"><a><div class="sidebar-logo cabinet-icon" onclick='onMenuHover(4)'></div></a></li>
                </ul>
            </div>

            <div class="content">
                <div class="backdrop hidden" onclick="closeMenu()">
                    <div class="slider" onclick="event.stopPropagation()">
                        <div class="menu-button-holder">
                            <button class="menu-button">Користувачі</button>
                        </div>
                    </div>
                </div>

                <div class="content-wrapper">
                    @RenderBody()
                    @RenderSection("Scripts", required: false)
                </div>
            </div>
        </div>
    </main>
</body> 
</html>