<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPlast</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui/themes/base/all.css" rel="stylesheet" />
        <link href="~/lib/mdbootstrap/css/bootstrap.min.css" />
        <link href="~/lib/mdbootstrap/css/mdb.min.css" />
        <link href="~/lib/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet" />
        <link href="~/lib/mdbootstrap/css/style.css" rel="stylesheet" />
        <link href="~/lib/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/compiled/css/site.css" rel="stylesheet" />
        <link href="~/compiled/css/raport.css" rel="stylesheet" />
    </environment>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
</head>
<body>

    <nav class="navbar  sticky-top" style="font-size: 1.1em; background-color:#3c5438">
        <div class="container">
            <div class="navbar-header">
                <a asp-action="Index" asp-controller="Home" class="nav-link text-light">Пластова база</a>
            </div>
            <div class="navbar">
                <ul class="nav justify-content-start">
                    <li class="nav-item"><a asp-action="Index" id="menu_admin" asp-controller="Account" class="nav-link text-light">Профіль</a></li>
                    <li class="nav-item"><a asp-action="LoginAndRegister" id="menu_admin" asp-controller="Account" class="nav-link text-light">Увійти/Зареєструватись</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EPlast - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/lib/popper.js/dist/popper.min.js"></script>
            <script src="~/lib/jquery-ui/Gruntfile.js"></script>
            <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
            <script src="~/lib/mdbootstrap/js/addons/datatables.min.js"></script>*@
        <script src="~/lib/mdbootstrap/js/jquery.min.js"></script>
        <script src="~/lib/mdbootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
        <script src="~/lib/mdbootstrap/js/addons/datatables.min.js"></script>
        <script src="~/lib/mdbootstrap/js/popper.min.js"></script>
        <script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>
        <script src="~/compiled/js/site.js"></script>
    </environment>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/MDB/js/addons/datatables.min.js"></script>*@
    <!-- Bootstrap tooltips -->
    @*<script type="text/javascript" src="~/MDB/js/popper.min.js"></script>*@
    <!-- MDB core JavaScript -->
    @*<script type="text/javascript" src="~/MDB/js/mdb.min.js"></script>*@
    <!-- MDB datatable JavaScript -->
    @*<script type="text/javascript" src="~/MDB/js/addons/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="~/js/site.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>