@using Microsoft.AspNetCore.Identity
@inject SignInManager<EPlast.DataAccess.Entities.User> SignInManager
@inject UserManager<EPlast.DataAccess.Entities.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
    {
        <div class="d-flex">
            <div class="btn navbar-btn text-light">
                <a class="text-light" asp-action="UserProfile" asp-controller="Account">Привіт @UserManager.GetUserName(User)</a>
            </div>
            <div>
                <button type="submit" class="btn btn-link navbar-btn navbar-link text-light">Вийти з акаунта</button>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" style="margin-top:15px;" class="text-light" asp-controller="Account" asp-action="LoginAndRegister">УвійтиАбоЗареєструватись</a></li>
    </ul>
}