@model IEnumerable<EPlast.DataAccess.Entities.CityAdministration>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Шось та й мусить бути</h1>
            @foreach(var item in Model)
            {
                <div class="form-group">
                    <a>@item.User.FirstName @item.User.LastName</a>
                </div>
            }
        </div>
    </div>

</div>