@model IEnumerable<EPlast.DataAccess.Entities.CityAdministration>
<div class="container">
    <div class="row">
        <div class="col">
            @foreach(var item in Model)
            {
                <div class="form-group">
                    <a asp-action="UserProfile" asp-controller="Account">@item.User.FirstName @item.User.LastName @item.AdminType.AdminTypeName</a>
                </div>
            }
        </div>
    </div>

</div>