@using EPlast.DataAccess.Repositories;
@{
    ViewData["Title"] = "Event Create Page";
}
<div class="eventCreate">
    <div class="d-xl-flex justify-content-xl-center border shadow" style="width: 900px;height: 1120px;background-color: #ffffff;margin-top: 40px;">
        <div class="col " style="height: 1000px;">
            <div class="row">
                <div class="col">
                    <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-center">
                        <h1 class="text-center">Нова подія</h1>
                    </div>
                </div>
            </div>
            <div class="row border shadow" style="height: 55px;">
                <div class="col d-flex d-xl-flex justify-content-xl-center align-items-xl-center"><button class="btn btn-primary" type="button" style="background-color: #3c5438;">Вишкіл</button></div>
                <div class="col d-flex d-xl-flex justify-content-xl-center align-items-xl-center"><button class="btn btn-primary" type="button" style="background-color: #3c5438;">Табір</button></div>
                <div class="col d-flex d-xl-flex justify-content-xl-center align-items-xl-center"><button class="btn btn-primary" type="button" style="background-color: rgb(35,91,50);">Акція</button></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Катергорія</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Комендант</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Заступник коменданта</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Бунчужний/на</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Писар</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Дата початку</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Дата завершення</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Форма проведення</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Призначений для</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Учасники з яких станиць прийматимуть участь</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow">
                <div class="col text-center d-xl-flex justify-content-xl-center"><label class="col-form-label">Приблизна кількість учасників</label></div>
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input type="text" class="border TextIinput" style="width: 370px;background-color: #eee;"></div>
            </div>
            <div class="row border shadow" style="height: 123px;">
                <div class="col">
                    <div class="row">
                        <div class="col text-center">
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 38px;">
                                <div class="col text-left d-xl-flex justify-content-xl-center align-items-xl-center"><label class="col-form-label">Питання/побажання до булави&nbsp; &nbsp;</label></div>
                                <div class="col">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 76px;"><input type="text" class="border TextIinput" style="width: 97%;height: 90%;background-color: #eee;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border shadow" style="height: 123px;">
                <div class="col">
                    <div class="row">
                        <div class="col text-center">
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-end" style="height: 38px;">
                                <div class="col text-left d-xl-flex justify-content-xl-center align-items-xl-center"><label class="col-form-label">Які впрваджено зміни/додаки ?</label></div>
                                <div class="col">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 76px;"><input type="text" class="border TextIinput" style="width: 97%;height: 90%;background-color: #eee;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><button class="btn btn-primary" type="button" style="width: 298px;margin-top: 15px;background-color: #3c5438;">Створити подію</button></div>
            </div>
        </div>
    </div>
</div>