
@{
    ViewData["Title"] = "FAQ";
}

    <div class="container">
        <h1>Часті запитання</h1>

        <p>
            Що таке ПЛАСТ?
        </p>

        <p>
            Пласт – українська скаутська організація. Метою Пласту є сприяти всебічному, патріотичному вихованню та самовихованню української молоді
            на засадах християнської моралі. Будучи неполітичною і позаконфесійною організацією, Пласт виховує молодь на свідомих, відповідальних і
            повновартісних громадян місцевої, національної та світової спільноти, провідників суспільства.
        </p>

        <p>
           Який герб у Вас герб?
        </p>

        <p>Гербом Пласту є трилиста квітка лілії – символ скаутського руху (відомий як Fleur-de-lis) – та тризуб, сплетені в одну гармонійну цілісність.</p>

       
    </div>