<div class="main-wrapper">
    <div class="row font-weight-bold" style="margin-left:200px;">
        <div class="col-md-9 mt-2">
            <div class="universal-container">
                <h3 class="mt-2">Ваше запитання успішно надіслано.</h3>
            </div>
        </div>
    </div>
</div>
