@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        My name is Anna and I would like to learn ASP.net core.

        <p>My name is Roman Brych and I would like to learn ASP.net core.</p>

        <p>My name is Andrii Shainoha and I would like to learn ASP.net core.</p>
        <p>Hello! I am Andrii Bashko</p>
        <p>Have a nice day Mykhailo Kunynets</p>
        <div id="message"></div>
        <div>
            Compiler: <input id="compiler" value="TypeScript" onkeyup="document.getElementById('message').innerText = sayHello()" /><br />
            Framework: <input id="framework" value="ASP.NET" onkeyup="document.getElementById('message').innerText = sayHello()" />
        </div>
    </div>
