@{
    ViewData["Title"] = "Home Page";
}
    <div class="container" style="padding-left:0;padding-right:0; margin:0;">
        <img src="~/images/homepage/homeMenuPicture.png" style="width:98.9vw; padding:0; margin:0;">
    </div>