#divCityContainer {

}

#formCityContainer {
    background-color: transparent;
}

.btn.submitCity {
    background-color: #3c5438;
    color: white;
}

#divEditCity {

}

#divFormEditCity {
    margin-bottom: 0;
}

#divTableEditCity {
    margin-top: 20px;
}

@media (max-width: 360px) {
    #divTableEditCity {
        width:95vw;
    }
}

#linkUser{
    color:black;
}