/*.cm-image {
    height: 150px;
    background-image: url('../../images/Users/@Model.User.ImagePath');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}*/
