.club-page-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center; }
  .club-page-wrapper .grid-block {
    padding: 10px;
    margin: 10px;
    background-color: white; }
  .club-page-wrapper .buttons {
    border: 0;
    color: white;
    background-color: #3c5438;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto; }
  .club-page-wrapper .vertical-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .club-page-wrapper .horizontal-grid {
    display: flex;
    align-items: stretch; }
  .club-page-wrapper .grid-header {
    text-align: center; }
  .club-page-wrapper .main-info .top-info {
    display: flex;
    align-items: flex-start; }
    .club-page-wrapper .main-info .top-info .curin-img {
      width: 40vh;
      height: 40vh; }
  .club-page-wrapper .main-info .line-pair {
    font-size: 12px; }
    .club-page-wrapper .main-info .line-pair .line-upper {
      font-size: 1em;
      color: #888;
      margin: 0; }
    .club-page-wrapper .main-info .line-pair .line-lower {
      font-size: 1.5em; }
  .club-page-wrapper .secondary-info .about-info .info {
    text-align: justify; }
  .club-page-wrapper .secondary-info .people-info, .club-page-wrapper .secondary-info .members-info, .club-page-wrapper .secondary-info .followers-info {
    flex-basis: 50%; }
  .club-page-wrapper .secondary-info .members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .club-page-wrapper .secondary-info .followers-info .member-wrapper {
    position: relative;
    margin-bottom: 5px; }
    .club-page-wrapper .secondary-info .followers-info .member-wrapper .plus {
      position: absolute;
      bottom: -5px;
      right: -5px;
      color: #3c5438;
      font-size: 23px;
      font-weight: bold; }
  .club-page-wrapper .secondary-info .member-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px; }
    .club-page-wrapper .secondary-info .member-block .member-img-block {
      width: 50px;
      height: 50px;
      background-repeat: repeat-y;
      background-repeat: repeat-x;
      background-size: cover;
      background-position: center center;
      text-align: center; }
    .club-page-wrapper .secondary-info .member-block .member-img {
      width: 50px;
      height: 50px; }
    .club-page-wrapper .secondary-info .member-block .member-name {
      margin-bottom: 0; }

@media (max-width: 767px), (orientation: portrait) {
  .club-page-wrapper {
    flex-direction: column; }
    .club-page-wrapper .main-info {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .club-page-wrapper .secondary-info .people-info {
      flex-direction: column; } }
