@using EPlast.ViewModels
@using Microsoft.AspNetCore.Identity
@model CityViewModel
@{
    ViewData["Title"] = "Члени Станиці";
}
<div class="main-wrapper" style="background-color: rgb(245,245,245);">
    <div class="d-flex flex-shrink-0 justify-content-center flex-wrap">
        @foreach (var membrCity in Model.Members)
        {
            <div class="card border rounded shadow-none d-inline float-left" style="margin: 15px;width: 150px;height: 250px;">
                <div class="float-left d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 30px;margin: -1px;"><a class="d-xl-flex justify-content-xl-end" style="padding-right: 95px;padding-left: 5px;color: #3c5438;"><i class="fa fa-gear" style="font-size: 24px;"></i></a><a class="float-none d-xl-flex" style="padding-right: 5px;padding-left: 5px;color: #3c5438;"><i class="fa fa-close" style="font-size: 24px;"></i></a></div>
                <div class="border rounded-circle cm-image"></div>
                <div class="d-inline">
                    <p class="text-center d-xl-flex justify-content-xl-center" style="margin: 0px;width: 100%;font-size: 18px;">@membrCity.User.FirstName</p>
                    <p class="text-center d-xl-flex justify-content-xl-center" style="margin: 0px;width: 100%;font-size: 18px;">@membrCity.User.LastName</p>
                </div>
            </div>
        }
    </div>
</div>