@using EPlast.ViewModels
@model List<CityViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="content-wrapper">
    <div class="all-clubs-view">
        <h1 class="all-clubs-title">Cтаниці</h1>
        <div class="club-list">

            @foreach (var city in Model)
            {
                <form method="get" class="club-block-wrapper" action='~/City/CityProfile'>
                    <span class="club-block club-wrappers-radius">
                        <button type="submit" class="club-block-submit rounded ">
                            <div class="club-img-wrapper">
                                <div class="club-img">
                                    @if (city.City.Logo != null)
                                    {
                                        <div class="club-img" style="background-image:url('/images/Cities/@city.City.Logo')"></div>
                                    }
                                    else
                                    {
                                        <div class="club-img" style="background-image:url('/images/Cities/default.jpg')"></div>
                                    }
                                </div>
                            </div>
                            <p class="club-name">@city.City.Name</p>
                            <input value="@city.City.ID" type="hidden" name="cityId" id="cityId" />
                        </button>
                    </span>
                </form>

            }
        </div>
    </div>
</div>
