<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="Trace" xsi:type="File"
            fileName="${basedir}/logs/Trace/${shortdate}.log"/>
    <target name="Debug" xsi:type="File"
            fileName="${basedir}/logs/Debug/${shortdate}.log"/>
    <target name="Info" xsi:type="File"
            fileName="${basedir}/logs/Info/${shortdate}.log"/>
    <target name="Warn" xsi:type="File"
            fileName="${basedir}/logs/Warn/${shortdate}.log"/>
    <target name="Error" xsi:type="File"
            fileName="${basedir}/logs/Error/${shortdate}.log"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="Trace" />
    <logger name="*" minlevel="Debug" writeTo="Debug" />
    <logger name="*" minlevel="Info" writeTo="Info" />
    <logger name="*" minlevel="Warn" writeTo="Warn" />
    <logger name="*" minlevel="Error" writeTo="Error" />
  </rules>
</nlog>