@model EPlast.ViewModels.ClubViewModel

<div id="changeEnddate" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header">
                <h4 class="modal-title">Вибрати дату завершення каденції</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center flex-row " style="display: flex;">
                    <p style="margin: 0; margin-right: 40px;">Оберіть дату завершення каденції:</p>
                    @Html.TextBoxFor(x => x.Club,
                        new { type = "datetime", @placeholder = "Виберіть дату...", @id = "txtToEndDate", @class = "border textBoxInput" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-light" style="background-color: #3c5438; " data-dismiss="modal">
                <a onclick="ChooseEndDate()" style="color:white;">Зберегти</a>
                </button>
            </div>
        </div>
    </div>
</div>

