@using EPlast.ViewModels
@model int
@{
    ViewData["Title"] = "Club";
}
<div class="content-wrapper">
          <div class="club-page-wrapper">
            <div class="main-info grid-block">
              <h1 class="grid-header">Курінь</h1>
  
              <div class="top-info">
                <img src="curin.png" alt="" class="curin-img">
  
                <div class="top-info-content"> 
                  <div class="line-pair">
                    <p class="line-upper">tyiu785</p>
                    <p class="line-lower">bi89p99</p>
                  </div>
  
                  <div class="line-pair">
                    <p class="line-upper">tyiu785</p>
                    <p class="line-lower">bi89p99</p>
                  </div>
  
                  <div class="line-pair">
                    <p class="line-upper">tyiu785</p>
                    <p class="line-lower">bi89p99</p>
                  </div>
                </div>
              </div>
  
              <div class="bottom-info-content"> 
                <div class="line-pair">
                  <p class="line-upper">tyiu785</p>
                  <p class="line-lower">bi89p99</p>
                </div>
  
                <div class="line-pair">
                  <p class="line-upper">tyiu785</p>
                  <p class="line-lower">bi89p99</p>
                </div>
  
                <div class="line-pair">
                  <p class="line-upper">tyiu785</p>
                  <p class="line-lower">bi89p99</p>
                </div>
  
                <button class="buttons">Більше</button>
              </div>
            </div>
  
            <div class="secondary-info vertical-grid">
              <div class="about-info grid-block">
                <h1 class="grid-header">Про нас</h1>
                
                <p class="info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae deleniti a eligendi voluptates debitis accusamus soluta dolorum tempore libero. Natus, debitis necessitatibus. Eius quisquam minima, error voluptatibus rem dolorem doloremque?</p>
                
                <button class="buttons" id="more-info-club" onclick="moreinfo()">Більше</button>
                <script>
                  function moreinfo(){
                    $("#more-info-club").hide(100);
                  }
                </script>
              </div>
  
              <div class="people-info horizontal-grid">
                <div class="members-info grid-block">
                  <h1 class="grid-header">Провід куреня</h1>
  
                  <div class="members-list">
                    <div class="member-block">
                      <img src="girl.jpg" alt="" class="member-img rounded-circle">
  
                      <p class="member-name">Аnna Hileta</p>
                    </div>
  
                    <div class="member-block">
                      <img src="girl.jpg" alt="" class="member-img rounded-circle">
  
                      <p class="member-name">Аnna Hileta</p>
                    </div>
  
                    <div class="member-block">
                      <img src="girl.jpg" alt="" class="member-img rounded-circle">
  
                      <p class="member-name">Аnna Hileta</p>
                    </div>
  
                    <div class="member-block">
                      <img src="girl.jpg" alt="" class="member-img rounded-circle">
  
                      <p class="member-name">Аnna Hileta</p>
                    </div>
  
                    <div class="member-block">
                      <img src="girl.jpg" alt="" class="member-img rounded-circle">
  
                      <p class="member-name">Аnna Hileta</p>
                    </div>
  
                    <div class="member-block">
                      <div class="member-img-block rounded-circle"></div>
  
                      <p class="member-name">Аnna Hileta</p>
                    </div>
                  </div>
  
                  <button class="buttons">Показати всіх</button>
                </div>
    
                <div class="followers-info grid-block">
                  <h1 class="grid-header">Зацікавлені</h1>
    
                  <div class="members-list">
                    <div class="member-block">
                      <div class="member-wrapper">
                        <img src="girl.jpg" alt="" class="member-img rounded-circle">
                        
                        <div class="plus">
                          +
                        </div>
                      </div>
    
                      <p class="member-name">Аnna Hileta</p>
                    </div>
        
                    <div class="member-block">
                      <div class="member-wrapper">
                        <img src="girl.jpg" alt="" class="member-img rounded-circle">
    
                        <div class="plus">
                          +
                        </div>
                      </div>
    
                      <p class="member-name">Аnna Hileta</p>
                    </div>
        
                    <div class="member-block">
                      <div class="member-wrapper">
                        <img src="girl.jpg" alt="" class="member-img rounded-circle">
    
                        <div class="plus">
                          +
                        </div>
                      </div>
    
                      <p class="member-name">Аnna Hileta</p>
                    </div>
        
                    <div class="member-block">
                      <div class="member-wrapper">
                        <img src="girl.jpg" alt="" class="member-img rounded-circle">
    
                        <div class="plus">
                          +
                        </div>
                      </div>
    
                      <p class="member-name">Аnna Hileta</p>
                    </div>
      
                    <div class="member-block">
                        <div class="member-wrapper">
                            <img src="girl.jpg" alt="" class="member-img rounded-circle">

                            <div class="plus">
                                +
                            </div>
                        </div>
    
                      <p class="member-name">Аnna Hileta</p>
                    </div>
                  </div>
    
                  <button class="buttons">Більше</button>
                </div>
              </div>
            </div>
          </div>
        </div>