@using EPlast.ViewModels
@model List<ClubViewModel>
@{
    ViewData["Title"] = "AllClubs";
}
    <div class="all-clubs-view">
        <h1 class="all-clubs-title">Курені</h1>
        <div class="club-list">
            @foreach (var item in Model)
            {
                <div class="club-block-wrapper">
                    <div class="club-block rounded">
                        <div class="club-img-wrapper">
                            <div class="club-img" style="background-image:url('@item.Club.Logo')"></div>
                        </div>
                        <p class="club-name">@item.Club.ClubName</p>
                    </div>
                </div>
            }
        </div>
    </div>
    