<div class="row font-weight-bold ml-2 ">
    <div class="col-md-9 mt-2">
        <div class="universal-container">
            <h3 class="mt-2">Для закінчення реєстрації перевірте електронну пошту і перейдіть за посиланням, яке вказане в листі.</h3>
        </div>
    </div>
</div>