<div class="row font-weight-bold ">
    <div class="col-md-8 justify-content-center">
        <h3>Для закінчення реєстрації перевірте електронну пошту і перейдіть по ссилці, вказаній в листі.</h3>
    </div>
</div>