<div class="row font-weight-bold" style="margin-left:200px;">
    <div class="col-md-9 mt-2">
        <div class="universal-container">
            <h3 class="mt-2">Ваш акаунт заблоковано. Повторіть цю дію пізніше, або скиньте свій пароль перейшовши за <a href="/Account/ForgotPassword">посиланням</a></h3>
        </div>
    </div>
</div>