<div class="content-wrapper">
    <div class="main-wrapper">
        <div class="row font-weight-bold" style="margin-left:200px;">
            <div class="col-md-9 mt-2">
                <div class="universal-container">
                    <h3 class="mt-2">Ваш пароль успішно змінено.</h3>
                </div>
            </div>
        </div>
    </div>
</div>