@model EPlast.DataAccess.Entities.User;
<div class="main-wrapper">
    <div class="row font-weight-bold" style="margin-left:200px;">
        <div class="col-md-9 mt-2">
            <div class="universal-container">
                <h3 class="mt-2">
                    Час для підтвердження акаунта вичерпаний. Повторно 
                    <a asp-controller="Account" asp-action="ResendEmailForRegistering" asp-route-userId="@Model.Id">надіслати</a> 
                    лист для підтвердження реєстрації.
                </h3>
            </div>
        </div>
    </div>
</div>