<div class="row font-weight-bold ml-2">
    <div class="col-md-9 mt-2">
        <div class="universal-container">
            <h4 class="mt-2">Ви підтвердили свій вхід. Для того щоб увійти в профіль натисніть Увійти/Зареєструватись.</h4>
        </div>
    </div>
</div>