
<div class="row">
    <div class="col-7">
        <form class="container bg-light m-5 pt-2 pb-5 pr-5 pl-5"style="background-color:white" >
            <h1>Редагування профілю</h1>
            <div class="form-group">
                <label for="exampleInputEmail1" >Ім'я</label>
                <input type="text" class="form-control" placeholder="Ім'я" value="Володимир">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Прізвище</label>
                <input type="text" class="form-control" placeholder="Прізвище" value="Вермій">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">По-батькові</label>
                <input type="text" class="form-control" placeholder="По-батькові" value="Вікторович">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Національність</label>
                <input type="text" class="form-control" placeholder="Національність" value="Українець">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Телефон</label>
                <input type="text" class="form-control" placeholder="Телефон" value="+3806314814444">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Віровизнання</label>
                <input type="text" class="form-control" placeholder="Віровизнання" value="Християнство">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Дата народження</label>
                <input type="text" class="form-control" placeholder="Дата народження" value="31.01.1990">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Місце навчання</label>
                <input type="text" class="form-control" placeholder="Місце навчання" value="ЛНУ ім.Івана Франка">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Стать</label>
                <input type="text" class="form-control" placeholder="Стать" value="Чоловіча">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Місце проживання</label>
                <input type="text" class="form-control" placeholder="Місце проживання" value="вул.Стрийська">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Робота</label>
                <input type="text" class="form-control" placeholder="Робота" value=".NET Developer">
            </div>
            <button type="submit" class="btn " style="background-color:#3c5438; color:white;">Підтвердити</button>
        </form>
    </div>
    <div class="col ">
        <div class="row">
            <div class="col ">

            </div>
            <div class="col">
                <form class="bg-light m-5 pt-2 pb-5 pr-5 pl-5">
                    <img class="rounded-circle" style="width:200px;height:200px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7HBrTji1jiZda9gKgUjIAk7WhVhpSGelEVnZFqXrEAHg2-qAg">
                    <div class="custom-file mt-3" id="customFile">
                        <input type="file" class="custom-file-input" id="file" name="file" value="dvas" aria-describedby="fileHelp" onchange="readURL(this, 'selectedImg')">
                        <label class="custom-file-label" for="file">
                            Вибрати фото...
                        </label>
                    </div>
                </form>
            </div>
            <div class="col">

            </div>
        </div>
        
    </div>
</div>
