<div class="row font-weight-bold" style="margin-left:200px;">
    <div class="col-md-9 mt-2">
        <div class="universal-container">
            <h4 class="mt-2">Для скидування пароля, перейдіть за посиланням в листі, яке відправлене на вашу електронну пошту.</h4>
        </div>
    </div>
</div>