@using EPlast.ViewModels;
@model ForgotPasswordViewModel;
<!--<div class="login-register-switcher">
                <div class="login-rectangle">
                    <div class="switcher-text login-active">
                        <a class="login-text">Увійти</a>
                        <a class="register-text">Зареєструватись</a>
                        <div class="active-rectangle"></div>
                    </div>
                </div>
                <div class="circle-wrapper">
                    <div class="login-circle">
                        <p>АБО</p>
                    </div>
                </div>
            </






    -->


<body style="background-color: rgb(245, 245, 245);">
    <div class="login-clean" style="background-color: rgb(245, 245, 245);">
        <div class="form">
            <div class="forgot-password-container d-flex">
                 <p class="">Забули пароль?</p>
                 <p class=" ml-2">Введіть електронну пошту</p>
             </div>
            <form method="post" class="login-form" asp-action="ForgotPassword" asp-controller="Account">
                <div class="validation" asp-validation-summary="All" style="font-size:14px;"></div>
                <h2 class="sr-only">ForgotPassword Form</h2>
                <div class="illustration"><i class="icon ion-ios-navigate" style="color: #3c5438;"></i></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" type="email" name="Email"
                           placeholder="Електронна пошта" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <button class="btn btn-block text-light" type="submit"
                            style="background-color: #3c5438">
                        Надіслати
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>