<div class="row font-weight-bold ml-2">
    <div class="col-md-9 mt-2">
        <h4 class="mt-2">Для скидування пароля, перейдіть по ссилці в листі, яке відправлене на ваш імейл</h4>
    </div>
</div>