@using EPlast.ViewModels;
@model Tuple<LoginViewModel, RegisterViewModel>

<body style="background-color: rgb(245, 245, 245);">
    <div class="login-clean" style="background-color: rgb(245, 245, 245);">
        <div class="form">
            <div class="login-register-switcher">
                <div class="login-rectangle">
                    <div class="switcher-text login-active">
                        <a class="login-text">Увійти</a>
                        <a class="register-text">Зареєструватись</a>
                        <div class="active-rectangle"></div>
                    </div>
                </div>
                <div class="circle-wrapper">
                    <div class="login-circle">
                        <p>АБО</p>
                    </div>
                </div>
            </div>
            <form method="post" class="login-form" asp-action="Logging" asp-controller="Account">
                <div class="validation" asp-validation-summary="All" style="font-size:15px; color:red;"></div>
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration"><i class="icon ion-ios-navigate" style="color: #3c5438;"></i></div>
                <div class="form-group">
                    <input asp-for="Item1.Email" class="form-control" type="email" name="Email"
                           placeholder="Електронна пошта" />
                    <span asp-validation-for="Item1.Email" />
                </div>
                <div class="form-group">
                    <input asp-for="Item1.Password" class="form-control" type="password" name="Password"
                           placeholder="Пароль" />
                    <span asp-validation-for="Item1.Password" />
                </div>
                <div class="form-group d-flex">
                    <input asp-for="Item1.RememberMe" type="checkbox" class="form-control" name="RememberMe" style="width:25px; height:25px;" />
                    <label style="margin-left:15px;">Запамятати мене</label>
                    <span asp-validation-for="Item1.RememberMe" />
                </div>
                <div class="form-group">
                    <button class="btn btn-block text-light" type="submit"
                            style="background-color: #3c5438">
                        Увійти
                    </button>
                </div>
                <a class="forgot" href="/Account/ForgotPassword">Забули пароль?</a>

                <div class="form-network">
                    <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                    <button type="button" class="btn btn-gplus"><i class="fab fa-google-plus-g pr-1"></i> Google +</button>
                </div>
            </form>

            <form method="post" class="register-form d-none" asp-action="Registration" asp-controller="Account">
                <div class="validation" asp-validation-summary="All" style="font-size:15px; color:red;"></div>
                <h2 class="sr-only">Registration Form</h2>
                <div class="form-group">
                    <input asp-for="Item2.Email" class="form-control" type="email" name="Email"
                           placeholder="Електронна пошта">
                    <span asp-validation-for="Item2.Email" />
                </div>
                <div class="form-group">
                    <input asp-for="Item2.Password" class="form-control" type="password" name="Password"
                           placeholder="Пароль">
                    <span asp-validation-for="Item2.Password" />
                </div>
                <div class="form-group">
                    <input asp-for="Item2.ConfirmPassword" class="form-control" type="password" name="ConfirmPassword"
                           placeholder="Повторіть пароль">
                    <span asp-validation-for="Item2.ConfirmPassword" />
                </div>
                <div class="form-group">
                    <input asp-for="Item2.Name" class="form-control" type="text" name="Name" placeholder="Імя">
                    <span asp-validation-for="Item2.Name" />
                </div>
                <div class="form-group">
                    <input asp-for="Item2.SurName" class="form-control" type="text" name="SurName" placeholder="Прізвище">
                    <span asp-validation-for="Item2.SurName" />
                </div>
                <div class="form-group">
                    <button style="background-color: #3c5438;" class="btn btn-block text-light" type="submit">
                        Зареєструватись
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}