<div class="row font-weight-bold ml-2">
    <div class="col-md-9 mt-2">
        <h4 class="mt-2">Ваш пароль скинутий. Для входу в систему перейдіть за <a asp-action="LoginAndRegister" asp-controller="Account">
            посиланням</a>.</h4>
    </div>
</div>