@using Microsoft.AspNetCore.Identity
@inject SignInManager<EPlast.DataAccess.Entities.User> SignInManager
@inject UserManager<EPlast.DataAccess.Entities.User> UserManager

<div class="container bg-light m-5 pt-2 pb-5 pr-5 pl-5 ">
    <div class="row">
        <div class="col-8">
            <div class="row ">

                <div class="col-md-10">
                    <div class="row ">
                        <div class="col-md-6">
                            <h1>Профіль</h1>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <small>Email</small>
                            <p class="font-weight-bold">who@gmail.com</p>
                        </div>
                        <div class="col-md-6">
                            <small>Національність</small>
                            <p class="font-weight-bold">Українець</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <small>Телефон</small>
                            <p class="font-weight-bold">+38012345678</p>
                        </div>
                        <div class="col-md-6">
                            <small>Віровизнання</small>
                            <p class="font-weight-bold">Християнство</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <small>Дата народження</small>
                            <p class="font-weight-bold">31.01.1990</p>
                        </div>
                        <div class="col-md-6">
                            <small>Ступінь в УПЮ</small>
                            <p class="font-weight-bold">Не був у юнацтві</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <small>Місце навчання</small>
                            <p class="font-weight-bold">ЛНУ ім.Івана Франка</p>
                        </div>
                        <div class="col-md-6">
                            <small>Стать</small>
                            <p class="font-weight-bold">Чоловіча</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <small>Місце проживання</small>
                            <p class="font-weight-bold">вул.Стрийська</p>
                        </div>
                        <div class="col-md-6">
                            <small>Робота</small>
                            <p class="font-weight-bold">.NET Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row mt-5">
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="row">

                        <img class="rounded-circle ml-4" style="width:300px;height:300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7HBrTji1jiZda9gKgUjIAk7WhVhpSGelEVnZFqXrEAHg2-qAg">

                    </div>
                    <div class="card border-0 bg-light">
                        <div class="card-body">
                            <h5 class="card-title">@UserManager.GetUserName(User)</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  ">
                <div class="col"></div>
                <div class=" col-5">
                    <a asp-action="Edit" class="btn" asp-controller="Account" style="background-color:#3c5438 ;color:white">Редагувати профіль</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>