
@model List<EventCategory>
<body>
    <div>
        <div></div>
    </div>
    <div>
        <div class="container">
            <div class="cust_bloglistintro">
                <h1 id="action-title" class="text-center-action">Акції</h1>
            </div>
            <div class="row">
                @foreach(EventCategory evc in Model)
                {
                <div class="col-md-4 cust_blogteaser">
                    <form method="post" action="~/Action/GetSubAction">
                        <input type="hidden" value=@evc.ID name="ID" id="something" />
                        <a href="#"><img class="rounded img-fluid" src="~/images/events/ActionLogo.png"></a>
                        <h3>@evc.EventCategoryName</h3>
                        <button type="submit" id="completed-task" class="h4 event-fabutton">
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </form>
                </div>
                }

                
            </div>
        </div>
    </div>
</body>