<div class="container">
    <div class="table-responsive">
        <table id="dtParticipants" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">
                        Користувач
                    </th>
                    <th class="th-sm">
                        Email
                    </th>
                    <th class="th-sm">
                        Поточний статус
                    </th>
                    <th class="th-sm">
                        Змінити статус
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 10; ++i)
                {
                <tr>
                    <td class="align-middle">Орест Онищенко</td>
                    <td class="align-middle">oldorkestr@gmail.com</td>
                    @if ((i % 2) == 0)
                    {
                        <td class="align-middle">Учасник</td>
                    }
                    else
                    {
                        <td class="align-middle">Відхилено</td>
                    }
                    <td>
                        <div class="btn-group btn-group-sm d-flex">
                            <button type="button" class="btn btn-success">
                                <i style="font-size:15px" class="fas fa-check-square"></i>
                            </button>
                            <button type="button" class="btn btn-warning">
                                <i style="font-size:15px;" class="fas fa-user-clock"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i style="font-size:15px" class="fas fa-user-slash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Користувач
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Поточний статус
                    </th>
                    <th>
                        Змінити статус
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>